@{
    ViewBag.Title = "Numbers Game";
}

<div id="game">
    <h1>Numbers Game</h1>
    <div class="game-board">
        <table class="game-board-table">
            <tr class="row-a">
                <td class="cell-a1"></td>
                <td class="cell-a2"></td>
                <td class="cell-a3"></td>
            </tr>
            <tr class="row-b">
                <td class="cell-b1"></td>
                <td class="cell-b2"></td>
                <td class="cell-b3"></td>
            </tr>
            <tr class="row-c">
                <td class="cell-c1"></td>
                <td class="cell-c2"></td>
                <td class="cell-c3"></td>
            </tr>
        </table>
        <p>Moves: <span class="move-count"></span></p>
    </div>
    <div class="controls">
        @Html.ActionLink("New Game", "Game", "Home", null, new { @class = "link-button", @style = "margin-right: 10px;" })
        @Html.ActionLink("High Scores", "HighScores", "Home", null, new { @class = "link-button" })
    </div>

    <div id="dialog-form" title="Submit Score">
        <form id="score-form"  name="score" method="post" action="@Url.Action("SubmitScore")">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" maxlength="20" />
            <input type="hidden" name="startingPosition" />
            <input type="hidden" name="moves" />
            <p class="validateTips" style="color: Red;"></p>
        </form>
    </div>

    <script type="text/javascript" src="@Url.Content("~/Scripts/numbers-game.js")"></script>
</div>
